@import '../../../../utils/variables';

.container-destaques {
  background-color: #fff;
  // padding: 1rem;
  border-radius: $radius;
  box-shadow: $shadow;
  margin-bottom: 2rem;
}

.categoria {
  // background-color: darken(#f7faff, 2);
  // color: darken($button, 7);

  padding: 0.3rem 0;
  border-bottom: solid 2px lighten($button, 20);
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 0.5rem;
  // border-radius: 0.3rem;
}
