<div class="navMenu" [ngClass]="{'isCollapsed': isNavMenuCollapsed()}">


  <button type="button" class="toggleNavMenu" (click)="onToggleNavMenu()">
    @switch (isNavMenuCollapsed()) {

    @case (true) {
    <i [class]="iconType() + ' fa-chevrons-right icon'"></i>
    }

    @case (false) {
    <i [class]="iconType() + ' fa-chevrons-left icon'"></i>
    }

    }
  </button>

  <nav>
    @for (item of routes; track $index) {

    @if (item.isVisible) {

    <a [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

      <i [class]="item.icon + ' icon'"></i>
      <span class="text">{{ item.text }}</span>

      <p class="tooltip" *ngIf="isNavMenuCollapsed()"><span>{{ item.text }}</span></p>
    </a>

    }

    }
  </nav>
</div>