:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

// :host ::ng-deep .p-calendar,
// :host ::ng-deep .p-chips,
// :host ::ng-deep .p-chips-multiple-container,
// :host ::ng-deep .p-dropdown,
// :host ::ng-deep .p-inputtext {
//   width: 100%;
// }

.pInputText {
  width: 100%;
}

:host ::ng-deep .p-tag-value {
  text-wrap: nowrap;
}
