<div class="grid">
  <div class="col-12 md:col-6 lg:col-4 xl:col-3">
    <ngx-skeleton-loader
      [count]="count()"
      [theme]="{ width: width(), height: height(), 'border-radius': radius() }" />
  </div>

  <div class="col-12 md:col-6 lg:col-4 xl:col-3">
    <ngx-skeleton-loader
      [count]="count()"
      [theme]="{ width: width(), height: height(), 'border-radius': radius() }" />
  </div>

  <div class="col-12 md:col-6 lg:col-4 xl:col-3">
    <ngx-skeleton-loader
      [count]="count()"
      [theme]="{ width: width(), height: height(), 'border-radius': radius() }" />
  </div>

  <div class="col-12 md:col-6 lg:col-4 xl:col-3">
    <ngx-skeleton-loader
      [count]="count()"
      [theme]="{ width: width(), height: height(), 'border-radius': radius() }" />
  </div>

  <div class="col-12 md:col-6 lg:col-4 xl:col-3">
    <ngx-skeleton-loader
      [count]="count()"
      [theme]="{ width: width(), height: height(), 'border-radius': radius() }" />
  </div>

  <div class="col-12 md:col-6 lg:col-4 xl:col-3">
    <ngx-skeleton-loader
      [count]="count()"
      [theme]="{ width: width(), height: height(), 'border-radius': radius() }" />
  </div>

  <div class="col-12 md:col-6 lg:col-4 xl:col-3">
    <ngx-skeleton-loader
      [count]="count()"
      [theme]="{ width: width(), height: height(), 'border-radius': radius() }" />
  </div>

  <div class="col-12 md:col-6 lg:col-4 xl:col-3">
    <ngx-skeleton-loader
      [count]="count()"
      [theme]="{ width: width(), height: height(), 'border-radius': radius() }" />
  </div>
</div>