<div class="container">

  <div class="nav-menu">
    <app-nav-menu></app-nav-menu>
  </div>

  <div class="view">
    <div>
      <app-top-header></app-top-header>
      <router-outlet />
    </div>
    <app-footer />
  </div>

  <p-dialog [header]="bannerTitle()" [(visible)]="displayDialog" [modal]="true" [style]="{ width: '1000px' }"
    showEffect="fade" (onAfterHide)="onDialogHide()" (onHide)="onCloseClick()">
    <div class="ui-fluid" style="text-align: center; padding: 20px;">
      @if (bannerUrl()) {
      <img [src]="bannerUrl()" alt="Banner" style="max-width: 100%; height: auto; border: 1px solid #ccc;" />
      }
    </div>
  </p-dialog>

</div>