@import '../../../utils/variables';
@import '../../../utils/media-queries';

.container {
  display: flex;
  height: 100vh;
}

.view {
  background-color: $background;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  overflow: auto;
  justify-content: space-between;

  &::before {
    content: '';
    width: 100%;
    height: $banner-height;
    background-color: $banner-background;
    position: absolute;
    top: $top-header-height;
    z-index: -1;
  }

  @include media-down(lg) {
    &::before {
      height: 10rem;
    }
  }
}
