@import "../../../../utils/media-queries";
@import "../../../../utils//variables";

.p-inputtext,
::ng-deep .p-calendar,
::ng-deep .p-multiselect {
  width: 100%;
}

// ::ng-deep .p-checkbox {
//   align-items: center;
//   vertical-align: middle;
// }

// ::ng-deep .p-checkbox-box {
//   width: 1rem;
//   height: 1rem;
//   border-radius: 0.3rem;
// }

// ::ng-deep .p-checkbox-icon {
//   width: 12px;
// }

// ::ng-deep .p-checkbox-label {
//   margin: 0;
// }

.icon {
  width: 8rem;
  height: 8rem;
  color: $icon-color;
  background-color: $icon-background;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 3rem;
  border: solid 3px $banner-background;
  flex-shrink: 0;

  @include media-down(lg) {
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
  }

  @include media-down(md) {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
  }
}

.label-date {
  display: flex;
  align-items: center;
}

.group-label {
  font-weight: 700;
}

.reset-text {
  font-size: 0.75rem;
  color: #888;
  max-width: 100%;
  padding: 0 1.2rem;
  margin-top: 0.5rem;
}

.profile-icon {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.file-upload-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.remove-button {
  padding-left: 5px;
  position: relative;
  top: 8px;
}

.error-text {
  margin-bottom: 0.2rem;
  display: inline-block;
  height: 22px;
  font-size: 0.75rem;
}

.icon.previewImage {
  border-radius: 0; // Remove o arredondamento
}

.error-text {
  margin-bottom: 0.2rem;
  display: inline-block;
  height: 22px;
  font-size: 0.75rem;
  color: $danger;
}

.grid-row {
  display: inline-block;
  width: 50%;

  &.preferences {
    padding-left: 3rem;
  }
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #003a58;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.preferences {
  padding-top: 25px;
  th {
    background-color: white;
  }
}
