// GENERAL
$primary: #003049;
$secondary: #f1a016;
$button: #3b82f6;
$background: #fcf7f7;
$danger: #ef4444;
$radius: 0.6rem;
$side-space: 5rem;
$shadow: rgba(0, 0, 0, 0.4) 0 0 2rem -1.4rem;

// NAV MENU
$nav-icon-size: 0.95rem;
$nav-color: rgba(255 255 255 / 0.7);

// TOP HEADER
$top-header-height: 3.75rem;
$top-header-background: #fff;

// BANNER HEADER
$banner-height: 9rem;
$banner-background: #ededed;

//FOOTER
$footer-height: 6.75rem;

// PROFILE
$icon-color: #dadada;
$icon-background: #fafafa;
$type-color: #d9d9d9;