<h3 class="title-questions">Perguntas</h3>

<div class="content mb-3">
  <div class="info-horario">
    <p>
      A Comunidade Tira-Dúvidas funciona de segunda à sexta-feira, das 9h às
      19h, exceto em feriados.
    </p>
    <strong>O tempo médio de resposta é de até 30 minutos, podendo variar em casos
      excepcionais.</strong>
  </div>

  <div class="user">
    <div class="icon">
      <img *ngIf="user().imagemPerfilURL" [src]="user().imagemPerfilURL" class="fa-solid fa-user icon profile-icon" />
      <i *ngIf="!user().imagemPerfilURL" class="fa-solid fa-user icon profile-icon"></i>
    </div>
    <span> {{ user().nome}} </span>
  </div>
  <textarea class="text-new-question" [(ngModel)]="enunciado"></textarea>
  <div class="formgrid grid align-items-end flex">
    <div class="field col-12 md:col-6">
      <label class="label">Categoria</label>
      <div>
        <p-dropdown optionLabel="nome" optionValue="id" selectedItemsLabel="{0} itens selecionados"
          emptyFilterMessage="Nenhum resultado encontrado" emptyMessage="Nenhum resultado encontrado" filterBy="nome"
          appendTo="body" [(ngModel)]="selectedCategory" [filter]="true" [options]="categorias()" [showClear]="true">
          <ng-template pTemplate="selectedItem" let-selectedOption>
            <div class="flex align-items-center gap-2">
              <div>{{ selectedOption.nome }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="field col-12 md:col-6">
      <div class="btn-new-question">
        <button pButton pRipple label="Publicar" class="p-button-primary"
          [disabled]="enunciado().length < 1 || !selectedCategory || isBtnAddLoading()"
          (click)="addQuestion()"></button>
      </div>
    </div>
  </div>
</div>

@for (pergunta of questions(); track $index) {
<div class="content mb-3">
  <div class="question-box">
    <div class="icon">
      <img *ngIf="pergunta.imagemPerfilURLCriador" [src]="pergunta.imagemPerfilURLCriador"
        class="fa-solid fa-user icon profile-icon" />
      <i *ngIf="!pergunta.imagemPerfilURLCriador" class="fa-solid fa-user icon profile-icon"></i>
    </div>

    <div class="question">
      <h6>{{ pergunta.criador || "Usuário desconhecido" }}</h6>
      <span title="{{pergunta.dataCriacao}}"> {{ pergunta.dataCriacaoFormatada }} </span>
      <p>{{ pergunta.enunciado }}</p>

      <!-- <div class="question-btn-action">
          <a>Responder</a>
          <a>Editar</a>
        </div> -->
    </div>
  </div>

  @for (resposta of pergunta.respostas; track $index) {
  <div class="answers">
    <div class="icon">
      <img *ngIf="resposta.imagemPerfilURLCriador" [src]="resposta.imagemPerfilURLCriador"
        class="fa-solid fa-user icon profile-icon" />
      <i *ngIf="!resposta.imagemPerfilURLCriador" class="fa-solid fa-user icon profile-icon"></i>

    </div>
    <div class="question">

      <h6>{{ resposta.criador || "Usuário desconhecido" }}</h6>
      <span title="{{pergunta.dataCriacao}}"> {{ resposta.dataCriacao || "sem data" }} </span>

      <button *ngIf="resposta.criadorId == user().id" pButton icon="pi pi-trash"
        class="p-button-text p-button-danger delete-btn" (click)="confirmDeleteAnswer(resposta)"></button>

      <p>{{ resposta.texto }}</p>

      <!-- <div class="question-btn-action">
          <a>Responder</a>
          <a (click)="updateAnswer(resposta)">Editar</a>
        </div> -->

    </div>
  </div>
  }
</div>
}

<p-confirmDialog />