<h3 class="section-title">Redefinir senha</h3>

@if (sucesso()) {
<p class="sucesso">Sua senha foi redefinida com sucesso!</p>

<div class="link">
  <a [routerLink]="['../']">Fazer login</a>
</div>
}
@else {
<form [formGroup]="form" (submit)="onSubmit()">
  <div class="flex flex-column gap-2">
    <label for="email">E-mail</label>
    <input
      pInputText
      formControlName="email"
      id="email"
      class="my-input" />
  </div>

  <div class="flex flex-column gap-2">
    <label for="password">Digite uma nova senha</label>
    <p-password
      id="password"
      styleClass="w-full"
      inputStyleClass="w-full my-input"
      formControlName="newPassword"
      [toggleMask]="true"
      [feedback]="false" />

    <div class="erro">
      <span>{{ erro() }}</span>
    </div>
  </div>

  <button
    type="submit"
    pButton
    pRipple
    label="Redefinir senha"
    [loading]="isLoading()"
    [disabled]="!form.valid"
    class="p-button-primary w-full"></button>
</form>
}



<!-- <div class="link">
  <a [routerLink]="['../']">Voltar para login</a>
</div> -->