<p-dialog [(visible)]="modal" [style]="{ width: '70rem', height: '96vh' }"
  [breakpoints]="{ '1199px': '85vw', '575px': '90vw' }" [header]="headerModal()" [modal]="true" [draggable]="false"
  [resizable]="false" (onHide)="closePopup()">

  <form [formGroup]="formClass">
    <div class="formgrid grid">
      <!-- <label class="label">Leia com atenção e clique em aceito.</label> -->
      <div class="terms-content">
        <h1>CONTRATO DE VENDA DE ASSINATURA</h1>
        <h2>PLATAFORMA EB PLAY</h2>

        <p>Pelo presente Instrumento Particular de Contrato de Venda de Assinaturas, de um lado <strong>EB CURSOS E
            TREINAMENTOS ONLINE LTDA</strong>, inscrita no CNPJ sob o n° 27.451.205/0001-40, com sede na Avenida
          Industrial, nº 1680, Sala 1602, Torre 1, Bairro Campestre, Santo André / SP, CEP: 09080-500, doravante
          denominada <strong>“EB TREINAMENTOS”</strong> e, de outro lado, a pessoa física ou jurídica identificada por
          seu
          código de assinante (CPF, CNPJ e/ou E-MAIL), doravante denominada <strong>“ASSINANTE”</strong>.</p>

        <h3>OBJETO</h3>
        <p>1. O objeto do presente contrato é a assinatura da plataforma <strong>“EB PLAY”</strong> de conteúdos
          especializados nas áreas de Departamento Pessoal <strong>“DP”</strong> e Recursos Humanos
          <strong>“RH”</strong>.
        </p>
        <p>2. A <strong>EB TREINAMENTOS</strong> disponibilizará conteúdo de eSocial, SST, Folha de pagamento, LGPD,
          Liderança – Recursos Humanos e outros temas relacionados através de cursos livres, vídeos explicativos,
          materiais escritos, modelos de documentos, sessão de interação entre membros, chat de dúvidas, dentre
          outros.
        </p>
        <p>3. Nos conteúdos identificados como cursos livres será fornecido certificado de conclusão desde que o
          <strong>ASSINANTE</strong> preencha o requisito pré-estabelecido de 100% (cem por cento) de visualização das
          aulas.
        </p>
        <p>4. Os conteúdos disponibilizados poderão sofrer alterações a qualquer momento, a livre critério da <strong>EB
            TREINAMENTOS</strong>, sem qualquer aviso prévio.</p>
        <p>5. Todos os conteúdos, materiais e informações disponibilizadas na plataforma são de propriedade exclusiva da
          <strong>EB TREINAMENTOS</strong>, protegida por direitos autorais, sendo vedada qualquer reprodução.
          Reproduções
          indevidas serão objeto das medidas judiciais cabíveis, inclusive indenizações por violação de direitos
          autorais
          e perdas e danos.
        </p>

        <h3>ACESSO</h3>
        <p>6. O acesso a plataforma se dará através do site <a
            href="https://portal.ebtreinamentos.com/">https://portal.ebtreinamentos.com/</a>, por meio de
          login/senha de
          uso pessoal e intransferível.</p>
        <ul>
          <li>(I) A plataforma poderá ser acessada através de computadores, notebooks, tablets, smartphones e outros
            aparelhos compatíveis com o serviço, desde que os dispositivos estejam conectados à internet.</li>
          <li>(II) O desempenho da plataforma pode variar de acordo com o aparelho e pode ser afetada por diversos
            fatores, incluindo sua localização, a largura de banda disponível e a velocidade da conexão com a
            Internet.
          </li>
          <li>(III) A <strong>EB TREINAMENTOS</strong> não se responsabiliza pela qualidade da conexão.</li>
        </ul>
        <p>7. A assinatura da plataforma será anual e estabelecida no momento da efetivação do pagamento pelo prazo de
          12
          (doze) meses.</p>

        <h3>PAGAMENTO</h3>
        <p>8. Os pagamentos poderão ser realizados pelo <strong>ASSINANTE</strong> à vista por PIX, boleto bancário, ou
          através de cartão de crédito.</p>
        <p>9. O formulário de venda deverá ser totalmente preenchido pelo <strong>ASSINANTE</strong>, sendo de sua
          responsabilidade o fornecimento preciso das informações para que não comprometa a efetivação da assinatura.
        </p>
        <p>10. As cobranças são intermediadas pela plataforma <strong>EDUZZ TECNOLOGIA LTDA</strong>, CNPJ nº
          09.573.540/0001-39, responsável pelo ambiente seguro de pagamento, e regidas conforme “Termos e Condições de
          Contratação de Assinaturas” disponível na sessão de pagamento.</p>
        <p>11. O <strong>ASSINANTE</strong> receberá a NF-e correspondente a assinatura, através do e-mail informado no
          formulário de venda.</p>
        <p>12. O <strong>ASSINANTE</strong> está ciente de que a falta de pagamento ocasionará a suspensão imediata do
          acesso à plataforma. A liberação ocorrerá após a regularização.</p>
        <p>13. É de responsabilidade do <strong>ASSINANTE</strong>, informar qualquer alteração de dados cadastrais.</p>

        <h3>RENOVAÇÃO</h3>
        <p>14. Fica desde já estabelecido que:</p>
        <ul>
          <li>(I) para as renovações de assinatura anual, cujo pagamento tenha sido realizado via cartão de crédito, a
            renovação da assinatura será realizada automaticamente pelo mesmo período, entretanto, será enviado ao
            <strong>ASSINANTE</strong> uma notificação de término de vigência de assinatura, antes da renovação
            automática, para que tome ciência sobre o término de vigência da assinatura.
          </li>
          <li>(II) para as renovações de assinatura anual, cujo pagamento tenha sido realizado via PIX ou boleto
            bancário,
            a renovação da assinatura será realizada mediante solicitação do <strong>ASSINANTE</strong> e, para
            isso,
            será encaminhado ao <strong>ASSINANTE</strong> uma notificação de término de vigência de assinatura,
            ocasião
            em que deverá formalizar o pedido de renovação.</li>
          <li>(III) as notificações serão enviadas para o e-mail cadastrado.</li>
        </ul>

        <h3>DO CANCELAMENTO</h3>
        <p>15. A solicitação de cancelamento de assinatura, informações ou reclamações deverão ser realizadas pelo
          <strong>ASSINANTE</strong> através dos canais de atendimento:
        </p>
        <p>Email: <a href="mailto:cs@ebtreinamentos.com">cs&#64;ebtreinamentos.com</a><br>
          WhatsApp: +55 11 95328-9324</p>

        <p>16. Ao <strong>ASSINANTE</strong> é reservado o exercício do direito de arrependimento no prazo de 7 (sete)
          dias
          corridos após a liberação de login/senha.</p>
        <ul>
          <li>(I) A devolução do valor ocorrerá em até 30 (trinta) dias úteis.</li>
        </ul>

        <p>17. Na hipótese de pedido de cancelamento da assinatura após o prazo de 7 (sete) dias corridos, o
          <strong>ASSINANTE</strong> fica ciente que não haverá nenhum tipo de reembolso.
        </p>

        <h3>DO USO INDEVIDO</h3>
        <p>18. Durante o uso da plataforma, o <strong>ASSINANTE</strong> se compromete a agir de acordo com as leis, com
          a
          ordem, com a moral e com os bons costumes, observado os termos de uso do qual declara estar ciente e
          concorda
          neste ato.</p>
        <p>19. Sendo constatada qualquer conduta ilícita, suspeita ou em desacordo com as regras, tais quais declarações
          ofensivas de cunho ideológico político, racial, religioso, bem como atos ofensivos e discriminatórios, a
          <strong>EB TREINAMENTOS</strong> se reserva o direito de suspender imediatamente o acesso, comunicar as
          autoridades competentes e adotar as medidas judiciais cabíveis, inclusive indenização por perdas e danos
          pelo
          uso indevido da plataforma.
        </p>

        <h3>FORO</h3>
        <p>20. Fica eleito o foro da comarca de Santo André, estado de São Paulo, para dirimir quaisquer dúvidas
          oriundas
          deste contrato.</p>

        <h3>DO TRATAMENTO DOS DADOS PESSOAIS</h3>
        <p>21. A <strong>EB TREINAMENTOS</strong> preza pela privacidade e respeita os direitos sobre os dados pessoais,
          por
          isso busca oferecer sempre os melhores produtos e experiências, o que inclui o compromisso de transparência
          sobre a forma como os dados pessoais são tratados, observando as diretrizes e regras contidas na Lei n°
          13.709/2018 (Lei Geral de Proteção de Dados - <strong>“LGPD”</strong>).</p>

        <p>22. Ao fornecer os dados pessoais a fim de se cadastrar em nosso banco de dados e adquirir os produtos, o
          <strong>ASSINANTE</strong> manifesta seu aceite com o tratamento de seus dados pela <strong>EB
            TREINAMENTOS</strong>, declarando que consente e autoriza o tratamento de seus dados pessoais que podem
          abranger operações de coleta, produção, recepção, classificação, utilização, acesso, reprodução,
          transmissão,
          distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação,
          modificação, comunicação, transferência, difusão ou extração referentes aos seguintes dados pessoais:
        </p>
        <ul>
          <li>Nome completo;</li>
          <li>Números de telefone/celular, WhatsApp e endereços de e-mail;</li>
          <li>Endereço;</li>
          <li>RG e CPF;</li>
        </ul>

        <p>23. O tratamento dos dados pessoais tem as seguintes finalidades:</p>
        <ul>
          <li>(I) Possibilitar que a <strong>EB TREINAMENTOS</strong> identifique e entre em contato com o Titular
            para
            fins da prestação do serviço contratada;</li>
          <li>(II) Possibilitar que a <strong>EB TREINAMENTOS</strong> envie ou forneça ao Titular seus produtos e
            serviços, de forma remunerada;</li>
          <li>(III) Possibilitar que a empresa estruture, teste, promova e faça propaganda de produtos e serviços,
            personalizados ou não ao perfil do Titular.</li>
        </ul>

        <p>E por entender justo e contratado o <strong>ASSINANTE</strong> declara que leu e aceita todas as cláusulas do
          presente instrumento.</p>
      </div>
    </div>

    <div class="flex justify-content-end gap-4 mt-5" id="buttons">
      <!-- <p-button label="Cancelar" icon="pi pi-times" severity="secondary" size="small" [text]="true"
        (onClick)="modal = false" /> -->

      <p-button *ngIf="isBtnAdd()" type="submit" label="Aceitar Termos" size="small" icon="pi pi-check"
        [loading]="isBtnAddLoading()" (onClick)="acceptTerms()" />
    </div>
  </form>
</p-dialog>