.terms-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: inherit;
  max-width: 800px; // Limite a largura máxima para melhorar a legibilidade
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Adicione esta linha para garantir que o pop-up fique acima de todos os componentes
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.terms-content {
  position: absolute;
  height: 80%; // Defina a altura fixa conforme necessário
  overflow-y: auto;
  margin-bottom: 20px;
  text-align: left;
  line-height: 1.6;
  padding: 20px; // Adicione padding para espaçamento interno
  margin: 0 auto; // Centralize o conteúdo

  h1,
  h2,
  h3 {
    text-align: center;
    margin-top: 20px; // Adicione espaçamento acima dos títulos
    margin-bottom: 10px; // Adicione espaçamento abaixo dos títulos
  }

  p {
    margin: 15px 0; // Aumente o espaçamento entre parágrafos
  }

  ul {
    margin: 15px 0; // Aumente o espaçamento acima e abaixo das listas
    padding-left: 20px;
    list-style-type: disc; // Adicione marcadores às listas
  }

  li {
    margin-bottom: 10px; // Adicione espaçamento entre os itens da lista
  }

  strong {
    font-weight: bold;
  }

  a {
    color: #007bff; // Adicione cor aos links
    text-decoration: underline; // Adicione sublinhado aos links
  }
}

#buttons {
  position: fixed;
  width: 95%;
  bottom: 0;
  background: white;
  padding: 20px 0 20px 0;
  text-align: right;
  margin: 0;
}