<h3 class="section-title">Recuperar senha</h3>

@if (sucesso()) {
<p class="sucesso">Enviamos um link de recuperação de senha para o email <span>{{ email() }}</span></p>
}
@else {
<form [formGroup]="form" (submit)="onSubmit()">
  <div class="flex flex-column gap-2">
    <label for="email">E-mail</label>
    <input pInputText formControlName="email" id="email" class="my-input" />

    <div class="erro">
      <span>{{ erro() }}</span>
    </div>
  </div>

  <button
    type="submit"
    pButton
    pRipple
    label="Pedido de redefinição de link"
    [loading]="isLoading()"
    [disabled]="!form.valid"
    class="p-button-primary w-full"></button>
</form>
}

<div class="link">
  <a [routerLink]="['../']">Voltar para login</a>
</div>